In [1]:
import pandas as pd
from collections import defaultdict
from collections import Counter
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.options.display.max_columns = None
feature_names =defaultdict(lambda:'None')

In [3]:
drought_data=pd.read_csv('data/Drought Data.csv')
flood_data=pd.read_csv('data/Flood Data.csv')
heat_data=pd.read_csv('data/Heat Data.csv')
historical=pd.read_csv('data/Historical Hazards Outcome Data.csv')
risk_recovery=pd.read_csv('data/Overall Risk & Readiness Scores.csv')
sea_level_data=pd.read_csv('data/Sea Level Rise Data.csv')

In [4]:
df=flood_data.copy()
df.shape
#Counter(df['Historical Average Cost of Cold Event'])

(278, 16)

In [5]:

#df.drop(columns=['Unnamed: 14'], inplace=True)
#'cold_risk', 'cold_vuln', 'cold_expose','cold_sens', 'cold_adapt', 'cold_ready', 'cold_social', 'cold_gov','cold_econ', 'cold_hist_cost', ###'cold_p_heat2040']
new_names=['city', 'state', 'geo_id','flood_risk', 'flood_vuln', 'flood_expose','flood_sens', 'flood_adapt', 'flood_ready', 'flood_social', 'flood_gov','flood_econ', 'flood_hist_cost','flood_future_cost','flood_prob_2040','flood_prob_2019_40']
old_columns=df.columns
df.columns = new_names


#indicators_dict = dict(zip(new_names, cold_data_old))
#feature_names['cold_data']=indicators_dict
df.head()

,city,state,geo_id,flood_risk,flood_vuln,flood_expose,flood_sens,flood_adapt,flood_ready,flood_social,flood_gov,flood_econ,flood_hist_cost,flood_future_cost,flood_prob_2040,flood_prob_2019_40
0,Abilene,TX,1600000US4801000,0.699359,0.574714,0.824003,0.478739,0.329311,0.314172,0.120899,0.220609,0.601007,0.000000e+00,1.999522e+05,0.002732,0.054644
1,Akron,OH,1600000US3901000,0.289344,0.410390,0.168297,0.603873,0.783093,0.507762,0.514565,0.514348,0.494373,1.057254e+06,9.434973e+05,0.000000,0.000000
2,Albuquerque,NM,1600000US3502000,0.287200,0.454036,0.120363,0.495268,0.587196,0.631972,0.317515,0.795843,0.782557,5.389568e+04,6.443253e+05,0.002732,0.054644
3,Alexandria,VA,1600000US5101000,0.357486,0.426807,0.288165,0.410568,0.556953,0.523200,0.362578,0.609321,0.597701,3.571429e+03,2.562188e+07,0.000000,0.000000
4,Allentown,PA,1600000US4202000,0.547926,0.683385,0.412468,0.700655,0.333885,0.393285,0.425955,0.245751,0.508149,1.250000e+04,3.395898e+06,0.000000,0.000000

In [6]:
#df.corr()

pd.plotting.scatter_matrix(df, alpha=0.2, figsize=(40,40))

plt.show()

In [7]:
output=df.describe()
#output.to_csv('cold_data')
output

,flood_risk,flood_vuln,flood_expose,flood_sens,flood_adapt,flood_ready,flood_social,flood_gov,flood_econ,flood_hist_cost,flood_future_cost,flood_prob_2040,flood_prob_2019_40
count,278.000000,278.000000,278.000000,278.000000,278.000000,278.000000,278.000000,278.000000,278.000000,2.520000e+02,2.780000e+02,272.000000,278.000000
mean,0.382550,0.453249,0.311851,0.479530,0.573032,0.471330,0.372489,0.586881,0.454621,9.465542e+05,1.270294e+06,0.002130,0.041671
std,0.126031,0.110293,0.225374,0.129059,0.191706,0.125325,0.202898,0.156369,0.180363,5.244199e+06,2.158223e+06,0.003091,0.061454
min,0.159575,0.203220,0.000000,0.184152,0.076710,0.164831,0.018305,0.213018,0.000000,0.000000e+00,1.245291e+05,0.000000,0.000000
25%,0.296002,0.376700,0.147209,0.383547,0.465666,0.388328,0.200324,0.490569,0.306635,4.653614e+02,4.664676e+05,0.000000,0.000000
50%,0.354073,0.446055,0.247780,0.482635,0.596377,0.465124,0.366909,0.620818,0.469878,1.723468e+04,7.766231e+05,0.000000,0.000000
75%,0.440685,0.526162,0.416735,0.565031,0.699849,0.551589,0.504821,0.698243,0.591855,1.084238e+05,1.323208e+06,0.002732,0.054644
max,0.843997,0.770810,0.996824,0.778482,0.985425,0.846282,0.949099,0.912531,0.940881,5.007924e+07,2.562188e+07,0.013661,0.273220

In [8]:
df.columns

Index(['city', 'state', 'geo_id', 'flood_risk', 'flood_vuln', 'flood_expose',
       'flood_sens', 'flood_adapt', 'flood_ready', 'flood_social', 'flood_gov',
       'flood_econ', 'flood_hist_cost', 'flood_future_cost', 'flood_prob_2040',
       'flood_prob_2019_40'],
      dtype='object')

In [9]:
#features_original

In [10]:
a=12
df.iloc[:,a].describe()
#charles=(df.iloc[:,a])
#print(df.iloc[20:150,a])
#print(df.iloc[24])

count    2.520000e+02
mean     9.465542e+05
std      5.244199e+06
min      0.000000e+00
25%      4.653614e+02
50%      1.723468e+04
75%      1.084238e+05
max      5.007924e+07
Name: flood_hist_cost, dtype: float64

In [11]:
df.iloc[:,a].unique()

array([0.00000000e+00, 1.05725383e+06, 5.38956765e+04, 3.57142857e+03,
       1.25000000e+04, 7.55536667e+03, 7.02500000e+01, 1.19666667e+06,
       1.08750000e+04, 2.17607100e+06, 5.29127368e+04, 6.03280250e+05,
       6.89967714e+05, 1.39881107e+06, 6.95675333e+05, 2.94117647e+02,
       3.26469052e+07, 1.38883333e+03, 5.63473913e+03,            nan,
       2.25000000e+04, 4.94167750e+05, 1.16190476e+03, 2.50000000e+03,
       1.28000706e+05, 7.71314167e+04, 5.59900000e+03, 5.70651000e+04,
       2.02412867e+06, 5.97222222e+02, 1.03135429e+05, 2.07606500e+04,
       7.25475000e+03, 5.34765874e+04, 7.79294300e+05, 6.51110000e+04,
       6.07446667e+03, 7.27000000e+05, 3.15835844e+06, 6.90852414e+04,
       1.84473429e+05, 1.66666667e+03, 7.62701111e+04, 1.44118000e+05,
       2.23704940e+06, 1.29357160e+05, 3.19524000e+04, 6.57888000e+03,
       6.95630000e+04, 6.83400000e+03, 8.13983269e+04, 5.33463000e+05,
       6.56514286e+03, 6.18315882e+04, 7.10763679e+04, 4.80012862e+06,
       8.97094444e+03, 6.89971177e+04, 3.75983333e+03, 2.73660000e+04,
       1.77320556e+04, 1.82740000e+04, 4.97898000e+05, 1.29231667e+04,
       2.00074789e+06, 1.25162500e+04, 1.50078880e+07, 9.04599231e+04,
       8.03042895e+04, 2.45517647e+03, 1.81042857e+03, 4.54438600e+05,
       1.14000000e+01, 9.14206250e+03, 3.06805000e+04, 3.16000000e+04,
       6.53846154e+03, 2.11614000e+05, 3.33931667e+04, 4.33700000e+03,
       1.14279231e+04, 1.00000000e+05, 3.14285714e+01, 9.51747273e+04,
       3.37158571e+04, 1.20086487e+03, 8.52197826e+03, 4.41831929e+05,
       2.05065000e+04, 1.65013700e+04, 5.82127500e+04, 6.75675676e+02,
       2.42800000e+04, 3.60732222e+04, 2.85428571e+05, 3.20360685e+07,
       3.03411500e+06, 4.95216500e+05, 1.19275000e+05, 1.88198567e+05,
       3.53333333e+03, 3.75365838e+06, 2.53657444e+05, 2.06855000e+06,
       1.42420000e+04, 8.57001850e+05, 9.61812500e+03, 4.27402000e+04,
       3.29793333e+05, 5.00792439e+07, 2.93342546e+05, 1.31586667e+04,
       1.25423529e+03, 3.33050638e+04, 1.25733300e+06, 5.31657500e+04,
       1.11229833e+05, 1.81486667e+04, 5.00000000e+02, 6.66666667e+03,
       8.41056250e+03, 3.61445783e+02, 8.79312353e+04, 4.98966512e+05,
       2.85709259e+04, 2.75020000e+04, 2.50000000e+02, 1.33114163e+05,
       2.05730000e+04, 1.20000000e+04, 5.02000000e+02, 3.30397500e+05,
       5.10000000e+01, 1.91378080e+06, 1.08468626e+05, 1.07286236e+05,
       3.37233809e+04, 9.34888889e+02, 2.05310000e+04, 1.42971000e+05,
       1.08408862e+05, 2.83124364e+05, 3.30809091e+03, 8.50700000e+03,
       8.69076897e+04, 1.06000000e+03, 1.32500000e+02, 8.83333333e+04,
       3.11301579e+04, 9.85788333e+04, 2.92779000e+04, 1.42857143e+02,
       6.65566667e+04, 7.75453781e+02, 2.34400000e+03, 7.53050952e+04,
       7.08190476e+02, 1.10869565e+03, 2.84615385e+03, 3.33333333e+04,
       2.09152571e+05, 1.82978723e+03, 1.52222632e+04, 8.90670000e+04,
       4.18511667e+03, 6.71816279e+03, 2.82030000e+04, 3.08905900e+06,
       1.98305267e+06, 1.74624169e+05, 1.24546667e+04, 7.16666667e+05,
       2.44254857e+05, 4.66750390e+07, 8.99488333e+04, 2.91732333e+05,
       3.58026667e+04, 2.37796667e+03, 5.03271667e+05, 7.82557143e+03,
       5.04267500e+04, 3.26833000e+06, 2.73492250e+04, 1.47727273e+03,
       7.45205333e+05, 4.11291539e+05, 9.98805278e+04, 6.46128333e+05,
       1.00166500e+04, 2.44180000e+04, 9.17311111e+03, 9.10844500e+05,
       1.67373091e+04, 8.47060000e+03, 2.25640000e+04, 4.36838361e+04,
       3.00000000e+03, 3.91518889e+04])

print(df[df['flood_hist_cost'].isnull()][null_columns])

In [13]:

row=0
count=0
for value in df.iloc[:,a]:
    if 1 ==1:
        print(df.iloc[row,0:2],df.iloc[row,a])
        
        count+=1
    row+=1
print(count)

city     Abilene
state         TX
Name: 0, dtype: object 0.0
city     Akron
state       OH
Name: 1, dtype: object 1057253.8329999999
city     Albuquerque
state             NM
Name: 2, dtype: object 53895.676470000006
city     Alexandria
state            VA
Name: 3, dtype: object 3571.428571
city     Allentown
state           PA
Name: 4, dtype: object 12500.0
city     Amarillo
state          TX
Name: 5, dtype: object 7555.366667
city     Anaheim
state         CA
Name: 6, dtype: object 70.25
city     Anchorage
state           AK
Name: 7, dtype: object 1196666.6670000001
city     Ann Arbor
state           MI
Name: 8, dtype: object 0.0
city     Antioch
state         CA
Name: 9, dtype: object 0.0
city     Arlington
state           TX
Name: 10, dtype: object 10875.0
city     Arvada
state        CO
Name: 11, dtype: object 2176071.0
city     Atlanta
state         GA
Name: 12, dtype: object 52912.73684
city     Aurora (CO)
state             CO
Name: 13, dtype: object 603280.25
city     Aurora (IL)
state             IL
Name: 14, dtype: object 689967.7143
city     Austin
state        TX
Name: 15, dtype: object 1398811.075
city     Bakersfield
state             CA
Name: 16, dtype: object 695675.3333
city     Baltimore
state           MD
Name: 17, dtype: object 294.11764710000006
city     Baton Rouge
state             LA
Name: 18, dtype: object 32646905.25
city     Bayamon
state         PR
Name: 19, dtype: object 1388.833333
city     Beaumont
state          TX
Name: 20, dtype: object 5634.73913
city     Bellevue
state          WA
Name: 21, dtype: object nan
city     Berkeley
state          CA
Name: 22, dtype: object 22500.0
city     Billings
state          MT
Name: 23, dtype: object 494167.75
city     Birmingham
state            AL
Name: 24, dtype: object 1161.904762
city     Boise City
state            ID
Name: 25, dtype: object 2500.0
city     Boston
state        MA
Name: 26, dtype: object 128000.7059
city     Bridgeport
state            CT
Name: 27, dtype: object 0.0
city     Brownsville
state             TX
Name: 28, dtype: object 77131.41667
city     Buffalo
state         NY
Name: 29, dtype: object 5599.0
city     Burbank
state         CA
Name: 30, dtype: object nan
city     Burlington
state            VT
Name: 31, dtype: object 57065.1
city     Cambridge
state           MA
Name: 32, dtype: object 2024128.667
city     Cape Coral
state            FL
Name: 33, dtype: object 0.0
city     Carlsbad
state          CA
Name: 34, dtype: object 0.0
city     Carolina
state          PR
Name: 35, dtype: object 597.2222222
city     Carrollton
state            TX
Name: 36, dtype: object 103135.4286
city     Cedar Rapids
state              IA
Name: 37, dtype: object 20760.65
city     Centennial
state            CO
Name: 38, dtype: object 7254.75
city     Chandler
state          AZ
Name: 39, dtype: object 0.0
city     Charleston (SC)
state                 SC
Name: 40, dtype: object 53476.58741
city     Charleston (WV)
state                 WV
Name: 41, dtype: object 779294.3
city     Charlotte
state           NC
Name: 42, dtype: object 65111.0
city     Chattanooga
state             TN
Name: 43, dtype: object 6074.466667000001
city     Chesapeake
state            VA
Name: 44, dtype: object 727000.0
city     Cheyenne
state          WY
Name: 45, dtype: object 0.0
city     Chicago
state         IL
Name: 46, dtype: object 3158358.441
city     Chula Vista
state             CA
Name: 47, dtype: object 0.0
city     Cincinnati
state            OH
Name: 48, dtype: object 69085.24137999999
city     Clarksville
state             TN
Name: 49, dtype: object 184473.4286
city     Clearwater
state            FL
Name: 50, dtype: object 1666.666667
city     Cleveland
state           OH
Name: 51, dtype: object 76270.11111
city     Colorado Springs
state                  CO
Name: 52, dtype: object 144118.0
city     Columbia (MO)
state               MO
Name: 53, dtype: object 2237049.4
city     Columbia (SC)
state               SC
Name: 54, dtype: object 129357.16
city     Columbus (GA)
state               GA
Name: 55, dtype: object 31952.4
city     Columbus (OH)
state               OH
Name: 56, dtype: object 6578.88
city     Concord
state         CA
Name: 57, dtype: object nan
city     Coral Springs
state               FL
Name: 58, dtype: object 69563.0
city     Corona
state        CA
Name: 59, dtype: object 6834.0
city     Corpus Christi
state                TX
Name: 60, dtype: object 81398.32692
city     Costa Mesa
state            CA
Name: 61, dtype: object 0.0
city     Dallas
state        TX
Name: 62, dtype: object 533463.0
city     Daly City
state           CA
Name: 63, dtype: object 0.0
city     Davenport
state           IA
Name: 64, dtype: object nan
city     Dayton
state        OH
Name: 65, dtype: object nan
city     Denton
state        TX
Name: 66, dtype: object 6565.142857
city     Denver
state        CO
Name: 67, dtype: object 61831.58824
city     Des Moines
state            IA
Name: 68, dtype: object 71076.36792
city     Detroit
state         MI
Name: 69, dtype: object 4800128.615
city     Downey
state        CA
Name: 70, dtype: object nan
city     Durham
state        NC
Name: 71, dtype: object 8970.944444
city     El Monte
state          CA
Name: 72, dtype: object nan
city     El Paso
state         TX
Name: 73, dtype: object 68997.11765
city     Elgin
state       IL
Name: 74, dtype: object 3759.833333
city     Elizabeth
state           NJ
Name: 75, dtype: object 0.0
city     Elk Grove
state           CA
Name: 76, dtype: object nan
city     Escondido
state           CA
Name: 77, dtype: object 0.0
city     Eugene
state        OR
Name: 78, dtype: object 27366.0
city     Evansville
state            IN
Name: 79, dtype: object 17732.05556
city     Everett
state         WA
Name: 80, dtype: object 18274.0
city     Fairfield
state           CA
Name: 81, dtype: object 497898.0
city     Fargo
state       ND
Name: 82, dtype: object 12923.16667
city     Fayetteville
state              NC
Name: 83, dtype: object 2000747.889
city     Fontana
state         CA
Name: 84, dtype: object 12516.25
city     Fort Collins
state              CO
Name: 85, dtype: object 15007888.0
city     Fort Lauderdale
state                 FL
Name: 86, dtype: object 90459.92308
city     Fort Wayne
state            IN
Name: 87, dtype: object 0.0
city     Fort Worth
state            TX
Name: 88, dtype: object 80304.28947
city     Fremont
state         CA
Name: 89, dtype: object nan
city     Fresno
state        CA
Name: 90, dtype: object 2455.176471
city     Frisco
state        TX
Name: 91, dtype: object 1810.4285710000001
city     Fullerton
state           CA
Name: 92, dtype: object nan
city     Gainesville
state             FL
Name: 93, dtype: object 0.0
city     Garden Grove
state              CA
Name: 94, dtype: object 0.0
city     Garland
state         TX
Name: 95, dtype: object 454438.6
city     Glendale (AZ)
state               AZ
Name: 96, dtype: object 11.4
city     Glendale (CA)
state               CA
Name: 97, dtype: object nan
city     Grand Prairie
state               TX
Name: 98, dtype: object 9142.0625
city     Grand Rapids
state              MI
Name: 99, dtype: object 30680.5
city     Green Bay
state           WI
Name: 100, dtype: object 31600.0
city     Greensboro
state            NC
Name: 101, dtype: object 6538.4615380000005
city     Gresham
state         OR
Name: 102, dtype: object 211614.0
city     Hampton
state         VA
Name: 103, dtype: object 33393.16667
city     Hartford
state          CT
Name: 104, dtype: object 4337.0
city     Hayward
state         CA
Name: 105, dtype: object 0.0
city     Henderson
state           NV
Name: 106, dtype: object 11427.92308
city     Hialeah
state         FL
Name: 107, dtype: object 0.0
city     High Point
state            NC
Name: 108, dtype: object 100000.0
city     Hollywood
state           FL
Name: 109, dtype: object 31.42857143
city     Honolulu
state          HI
Name: 110, dtype: object 0.0
city     Houston
state         TX
Name: 111, dtype: object 95174.72727
city     Huntington Beach
state                  CA
Name: 112, dtype: object 33715.85714
city     Huntsville
state            AL
Name: 113, dtype: object 1200.864865
city     Independence
state              MO
Name: 114, dtype: object 0.0
city     Indianapolis
state              IN
Name: 115, dtype: object 8521.978261
city     Inglewood
state           CA
Name: 116, dtype: object nan
city     Irvine
state        CA
Name: 117, dtype: object 0.0
city     Irving
state        TX
Name: 118, dtype: object 441831.9286
city     Jackson
state         MS
Name: 119, dtype: object 20506.5
city     Jacksonville
state              FL
Name: 120, dtype: object 16501.37
city     Jersey City
state             NJ
Name: 121, dtype: object 0.0
city     Joliet
state        IL
Name: 122, dtype: object 58212.75
city     Kansas City (KS)
state                  KS
Name: 123, dtype: object 0.0
city     Kansas City (MO)
state                  MO
Name: 124, dtype: object 675.6756757
city     Kent
state      WA
Name: 125, dtype: object 24280.0
city     Killeen
state         TX
Name: 126, dtype: object 36073.222219999996
city     Knoxville
state           TN
Name: 127, dtype: object 285428.5714
city     Lafayette
state           LA
Name: 128, dtype: object 32036068.5
city     Lakewood
state          CO
Name: 129, dtype: object 3034115.0
city     Lancaster
state           CA
Name: 130, dtype: object 0.0
city     Lansing
state         MI
Name: 131, dtype: object 495216.5
city     Laredo
state        TX
Name: 132, dtype: object 119275.0
city     Las Vegas
state           NV
Name: 133, dtype: object 188198.5667
city     Lexington-Fayette
state                   KY
Name: 134, dtype: object 3533.333333
city     Lincoln
state         NE
Name: 135, dtype: object 3753658.375
city     Little Rock
state             AR
Name: 136, dtype: object 253657.4444
city     Long Beach
state            CA
Name: 137, dtype: object 2068550.0
city     Los Angeles
state             CA
Name: 138, dtype: object 0.0
city     Lowell
state        MA
Name: 139, dtype: object 14242.0
city     Lubbock
state         TX
Name: 140, dtype: object 857001.85
city     Madison
state         WI
Name: 141, dtype: object 9618.125
city     Manchester
state            NH
Name: 142, dtype: object 42740.2
city     McAllen
state         TX
Name: 143, dtype: object 329793.3333
city     McKinney
state          TX
Name: 144, dtype: object 0.0
city     Memphis
state         TN
Name: 145, dtype: object 50079243.85
city     Mesa
state      AZ
Name: 146, dtype: object 293342.5455
city     Mesquite
state          TX
Name: 147, dtype: object 13158.66667
city     Miami
state       FL
Name: 148, dtype: object 1254.2352939999998
city     Miami Gardens
state               FL
Name: 149, dtype: object 0.0
city     Midland
state         TX
Name: 150, dtype: object 33305.06383
city     Milwaukee
state           WI
Name: 151, dtype: object 1257333.0
city     Minneapolis
state             MN
Name: 152, dtype: object 53165.75
city     Miramar
state         FL
Name: 153, dtype: object nan
city     Mobile
state        AL
Name: 154, dtype: object 111229.8333
city     Modesto
state         CA
Name: 155, dtype: object nan
city     Montgomery
state            AL
Name: 156, dtype: object 0.0
city     Moreno Valley
state               CA
Name: 157, dtype: object 18148.66667
city     Murfreesboro
state              TN
Name: 158, dtype: object 500.0
city     Murrieta
state          CA
Name: 159, dtype: object 0.0
city     Naperville
state            IL
Name: 160, dtype: object 6666.666667
city     New Haven
state           CT
Name: 161, dtype: object 0.0
city     New Orleans
state             LA
Name: 162, dtype: object 8410.5625
city     New York
state          NY
Name: 163, dtype: object 361.4457831
city     Newark
state        NJ
Name: 164, dtype: object 0.0
city     Newport News
state              VA
Name: 165, dtype: object 87931.23529
city     Norfolk
state         VA
Name: 166, dtype: object 498966.5122
city     Norman
state        OK
Name: 167, dtype: object 28570.92593
city     North Las Vegas
state                 NV
Name: 168, dtype: object 27502.0
city     Norwalk
state         CA
Name: 169, dtype: object nan
city     Oakland
state         CA
Name: 170, dtype: object 250.0
city     Oceanside
state           CA
Name: 171, dtype: object 0.0
city     Oklahoma City
state               OK
Name: 172, dtype: object 133114.1633
city     Olathe
state        KS
Name: 173, dtype: object 0.0
city     Omaha
state       NE
Name: 174, dtype: object 20573.0
city     Ontario
state         CA
Name: 175, dtype: object 12000.0
city     Orange
state        CA
Name: 176, dtype: object 0.0
city     Orlando
state         FL
Name: 177, dtype: object 502.0
city     Overland Park
state               KS
Name: 178, dtype: object 0.0
city     Oxnard
state        CA
Name: 179, dtype: object nan
city     Palm Bay
state          FL
Name: 180, dtype: object 2500.0
city     Palmdale
state          CA
Name: 181, dtype: object 0.0
city     Pasadena (CA)
state               CA
Name: 182, dtype: object nan
city     Pasadena (TX)
state               TX
Name: 183, dtype: object 330397.5
city     Paterson
state          NJ
Name: 184, dtype: object 0.0
city     Pembroke Pines
state                FL
Name: 185, dtype: object 51.0
city     Peoria (AZ)
state             AZ
Name: 186, dtype: object 1913780.8
city     Peoria (IL)
state             IL
Name: 187, dtype: object 1913780.8
city     Philadelphia
state              PA
Name: 188, dtype: object 108468.6265
city     Phoenix
state         AZ
Name: 189, dtype: object 107286.2364
city     Pittsburgh
state            PA
Name: 190, dtype: object 33723.38095
city     Plano
state       TX
Name: 191, dtype: object 934.8888889000001
city     Pomona
state        CA
Name: 192, dtype: object 20531.0
city     Ponce
state       PR
Name: 193, dtype: object 0.0
city     Port St. Lucie
state                FL
Name: 194, dtype: object 142971.0
city     Portland (ME)
state               ME
Name: 195, dtype: object 108408.8621
city     Portland (OR)
state               OR
Name: 196, dtype: object 283124.3636
city     Providence
state            RI
Name: 197, dtype: object 3308.090909
city     Provo
state       UT
Name: 198, dtype: object 8507.0
city     Pueblo
state        CO
Name: 199, dtype: object 0.0
city     Raleigh
state         NC
Name: 200, dtype: object 86907.68966
city     Rancho Cucamonga
state                  CA
Name: 201, dtype: object nan
city     Reno
state      NV
Name: 202, dtype: object 0.0
city     Richmond (CA)
state               CA
Name: 203, dtype: object 1060.0
city     Richmond (VA)
state               VA
Name: 204, dtype: object 132.5
city     Riverside
state           CA
Name: 205, dtype: object 88333.33333
city     Rochester (MN)
state                MN
Name: 206, dtype: object 31130.15789
city     Rochester (NY)
state                NY
Name: 207, dtype: object 98578.83333
city     Rockford
state          IL
Name: 208, dtype: object 29277.9
city     Roseville
state           CA
Name: 209, dtype: object 0.0
city     Sacramento
state            CA
Name: 210, dtype: object 142.8571429
city     Salem
state       OR
Name: 211, dtype: object nan
city     Salinas
state         CA
Name: 212, dtype: object nan
city     Salt Lake City
state                UT
Name: 213, dtype: object 66556.66667
city     San Antonio
state             TX
Name: 214, dtype: object 775.4537815
city     San Bernardino
state                CA
Name: 215, dtype: object 2344.0
city     San Buenaventura
state                  CA
Name: 216, dtype: object nan
city     San Diego
state           CA
Name: 217, dtype: object 75305.09524
city     San Francisco
state               CA
Name: 218, dtype: object 708.1904762
city     San Jose
state          CA
Name: 219, dtype: object 1108.6956519999999
city     San Juan
state          PR
Name: 220, dtype: object 2846.153846
city     Santa Ana
state           CA
Name: 221, dtype: object 33333.33333
city     Santa Clara
state             CA
Name: 222, dtype: object 0.0
city     Santa Clarita
state               CA
Name: 223, dtype: object 0.0
city     Santa Rosa
state            CA
Name: 224, dtype: object 209152.5714
city     Savannah
state          GA
Name: 225, dtype: object 1829.787234
city     Scottsdale
state            AZ
Name: 226, dtype: object 15222.263159999999
city     Seattle
state         WA
Name: 227, dtype: object 89067.0
city     Shreveport
state            LA
Name: 228, dtype: object 4185.116667
city     Simi Valley
state             CA
Name: 229, dtype: object 0.0
city     Sioux Falls
state             SD
Name: 230, dtype: object 6718.162791
city     South Bend
state            IN
Name: 231, dtype: object 0.0
city     Spokane
state         WA
Name: 232, dtype: object 28203.0
city     Springfield (IL)
state                  IL
Name: 233, dtype: object 3089059.0
city     Springfield (MA)
state                  MA
Name: 234, dtype: object 1983052.667
city     Springfield (MO)
state                  MO
Name: 235, dtype: object 174624.169
city     St. Louis
state           MO
Name: 236, dtype: object 12454.66667
city     St. Paul
state          MN
Name: 237, dtype: object 716666.6667
city     St. Petersburg
state                FL
Name: 238, dtype: object 0.0
city     Stamford
state          CT
Name: 239, dtype: object 244254.8571
city     Sterling Heights
state                  MI
Name: 240, dtype: object 46675039.0
city     Stockton
state          CA
Name: 241, dtype: object 0.0
city     Sunnyvale
state           CA
Name: 242, dtype: object 0.0
city     Surprise
state          AZ
Name: 243, dtype: object 89948.83333
city     Syracuse
state          NY
Name: 244, dtype: object 291732.3333
city     Tacoma
state        WA
Name: 245, dtype: object 35802.66667
city     Tallahassee
state             FL
Name: 246, dtype: object 2377.966667
city     Tampa
state       FL
Name: 247, dtype: object 503271.6667
city     Temecula
state          CA
Name: 248, dtype: object nan
city     Tempe
state       AZ
Name: 249, dtype: object 7825.5714290000005
city     Thornton
state          CO
Name: 250, dtype: object 50426.75
city     Thousand Oaks
state               CA
Name: 251, dtype: object 0.0
city     Toledo
state        OH
Name: 252, dtype: object 3268330.0
city     Topeka
state        KS
Name: 253, dtype: object 0.0
city     Torrance
state          CA
Name: 254, dtype: object 0.0
city     Tucson
state        AZ
Name: 255, dtype: object 27349.225
city     Tulsa
state       OK
Name: 256, dtype: object 1477.272727
city     Vallejo
state         CA
Name: 257, dtype: object nan
city     Vancouver
state           WA
Name: 258, dtype: object 745205.3333
city     Victorville
state             CA
Name: 259, dtype: object 411291.5385
city     Virginia Beach
state                VA
Name: 260, dtype: object 99880.52777999999
city     Visalia
state         CA
Name: 261, dtype: object 646128.3333
city     Waco
state      TX
Name: 262, dtype: object 10016.65
city     Warren
state        MI
Name: 263, dtype: object 0.0
city     Washington
state            DC
Name: 264, dtype: object 0.0
city     Waterbury
state           CT
Name: 265, dtype: object nan
city     West Covina
state             CA
Name: 266, dtype: object nan
city     West Jordan
state             UT
Name: 267, dtype: object 24418.0
city     West Palm Beach
state                 FL
Name: 268, dtype: object 9173.111111
city     West Valley City
state                  UT
Name: 269, dtype: object nan
city     Westminster
state             CO
Name: 270, dtype: object 910844.5
city     Wichita
state         KS
Name: 271, dtype: object 16737.30909
city     Wichita Falls
state               TX
Name: 272, dtype: object 8470.6
city     Wilmington (DE)
state                 DE
Name: 273, dtype: object 22564.0
city     Wilmington (NC)
state                 NC
Name: 274, dtype: object 43683.83607
city     Winston-Salem
state               NC
Name: 275, dtype: object 3000.0
city     Worcester
state           MA

In [ ]:
city_indicators=pd.read_csv('data/City Indicators.csv')
city_indicators_old=df.columns
new_names=['city','state','geo_id','GDP_water_all','perc_fff','d_plan','w_plan','base_w_stress','invest','tax_break','corruption','perc_vote','innovate','climate_real','hs_ed','pop_dens','w_quality','debt','flood_pop','flood_build','flood_car','impervious','beds_1000','alone_65','child_5','health_ins','older_1999','mobile_home','rent_50plus','trees','heating','disabled','poverty','older_1979','work_outside','no_car','pop_under_1ft','pop_under_3ft','impact_plus1ft','impact_plus3ft', 'col_empty','lat','long','county','region','city_km2','pop_2010','pop_2011','pop_2012','pop_2013','pop_2014','pop_2015','median_income']
indicators_dict = dict(zip(new_names, city_indicators_old))
city_indicators.columns = new_names
city_indicators.drop(columns =['col_empty'], inplace= True)

feature_names['city_indicators']=indicators_dict

fig = plt.figure()

count=1
drop_list=list(city_indicators.columns)
for header in city_indicators.columns:
    x=city_indicators[header]
    for header2 in drop_list:
        plt.show(count)
        y=city_indicators[header2]
        ax = fig.add_subplot()
        plt.scatter(x, y, alpha=0.5)
        
        drop_list.remove(header2)
        count+=1

cold_data=pd.read_csv('data/Cold Data.csv')
cold_data_old=df.columns
new_names=['city', 'state', 'geo_id', 'cold_risk', 'cold_vuln', 'cold_expose','cold_sens', 'cold_adapt', 'cold_ready', 'cold_social', 'cold_gov','cold_econ', 'cold_hist_cost', 'cold_p_heat2040']
cold_data.columns = new_names


indicators_dict = dict(zip(new_names, cold_data_old))
feature_names['cold_data']=indicators_dict

In [ ]:
cold_data=pd.read_csv('data/Cold Data.csv')
cold_data_old=df.columns
new_names=['city', 'state', 'geo_id', 'cold_risk', 'cold_vuln', 'cold_expose','cold_sens', 'cold_adapt', 'cold_ready', 'cold_social', 'cold_govG','cold_econ', 'cold_hist_cost', 'cold_p_heat2040']
cold_data.columns = new_names


cold_dict = dict(zip(new_names, cold_data_old))
feature_names['cold_data']=cold_dict

In [ ]:
risk_recovery=pd.read_csv('data/Overall Risk & Readiness Scores.csv')
risk_recovery_old=risk_recovery.columns
new_names=['city', 'state', 'geo_id','overall_risk', 'overall_readiness']
risk_recovery.columns = new_names


risk_recovery_dict = dict(zip(new_names, risk_recovery_old))
feature_names['risk_recovery']=risk_recovery_dict

In [ ]:
drought_data=pd.read_csv('data/Drought Data.csv')
drought_data.drop(columns=['Unnamed: 14'], inplace=True)
old_columns=drought_data.columns
new_names=['city', 'state', 'geo_id','drought_risk', 'drought_vuln', 'drought_expose','drought_sens', 'drought_adapt', 'drought_ready', 'drought_social', 'drought_gov','drought_econ', 'drought_hist_cost','drought_future_cost','drt_dev_forecast','drt_dev_for_vs_norm','drt_.5sdev_G','drt_.5sdev_G','drt_dist_sdev']
drought_data.columns = new_names


drought_dict = dict(zip(new_names, old_columns))
feature_names['drought_data']=drought_dict
feature_names